<app-header></app-header>
<div class="container" fxLayout="row" fxLayoutAlign="center">

  <div fxFlex="100%" fxFlex.gt-sm="900px" style="background-color: #F8F8F8; padding-left: 10px; padding-right: 10px;">

    <!--<h1>LOGIN</h1>
    <app-login></app-login>
    <h1>CONTENT</h1>
    <app-content></app-content>
    <h1>DOCUMENT</h1>
    <app-document></app-document>-->

    <router-outlet></router-outlet>

    <div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" style="padding-left: 10px; padding-right: 10px;">
      <div fxFlex="30%" style="background-color: red;">content asdad asdads</div>
      <div fxFlex="50%" style="background-color: yellow;">content</div>
      <div fxFlex="20%" style="background-color: blue;">content</div>
    </div>

  </div>

</div>

<ngx-spinner type="ball-running-dots">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

